.idea/
idea/
.idea

11-component-nesting-props-events-lifecyclehook/package-lock.json
14-udemyVuejs/01-router/.editorconfig
14-udemyVuejs/01-router/.babelrc
14-udemyVuejs/02-xorav-smoothies/src/firebase/init.js
14-udemyVuejs/02-xorav-smoothies/.firebase/hosting..cache
14-udemyVuejs/02-xorav-smoothies/.firebase/hosting.ZGlzdA.cache
14-udemyVuejs/02-xorav-smoothies/.firebaserc
14-udemyVuejs/02-xorav-smoothies/firebase.json
14-udemyVuejs/02-xorav-smoothies/firestore.indexes.json
14-udemyVuejs/02-xorav-smoothies/firestore.rules
14-udemyVuejs/03-xorav-chat/package-lock.json
14-udemyVuejs/03-xorav-chat/.firebase/hosting.ZGlzdA.cache
14-udemyVuejs/03-xorav-chat/.firebaserc
14-udemyVuejs/03-xorav-chat/firebase.json
14-udemyVuejs/03-xorav-chat/firestore.indexes.json
14-udemyVuejs/03-xorav-chat/firestore.rules
